--
-- PostgreSQL database dump
--

\restrict TZeppzmdMthFc2MX7ekVykwa3G5FzOBwNewIhffTjxnyXxbjkYnn0n4hfnUw74y

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg12+1)
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres_db_estoque_4bw4_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres_db_estoque_4bw4_user;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres_db_estoque_4bw4_user
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres_db_estoque_4bw4_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres_db_estoque_4bw4_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres_db_estoque_4bw4_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres_db_estoque_4bw4_user;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres_db_estoque_4bw4_user;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres_db_estoque_4bw4_user;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres_db_estoque_4bw4_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres_db_estoque_4bw4_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres_db_estoque_4bw4_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres_db_estoque_4bw4_user;

--
-- Name: inventory_crawlerlog; Type: TABLE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE TABLE public.inventory_crawlerlog (
    id bigint NOT NULL,
    sku character varying(50) NOT NULL,
    status_code integer,
    error_message text,
    created_at timestamp with time zone NOT NULL,
    retry_count integer NOT NULL
);


ALTER TABLE public.inventory_crawlerlog OWNER TO postgres_db_estoque_4bw4_user;

--
-- Name: inventory_crawlerlog_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE public.inventory_crawlerlog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_crawlerlog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_customuser; Type: TABLE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE TABLE public.inventory_customuser (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    email character varying(254) NOT NULL,
    name character varying(255) NOT NULL,
    is_active boolean NOT NULL,
    is_staff boolean NOT NULL,
    is_superuser boolean NOT NULL
);


ALTER TABLE public.inventory_customuser OWNER TO postgres_db_estoque_4bw4_user;

--
-- Name: inventory_customuser_groups; Type: TABLE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE TABLE public.inventory_customuser_groups (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.inventory_customuser_groups OWNER TO postgres_db_estoque_4bw4_user;

--
-- Name: inventory_customuser_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE public.inventory_customuser_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_customuser_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_customuser_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE public.inventory_customuser ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_customuser_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_customuser_user_permissions; Type: TABLE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE TABLE public.inventory_customuser_user_permissions (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.inventory_customuser_user_permissions OWNER TO postgres_db_estoque_4bw4_user;

--
-- Name: inventory_customuser_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE public.inventory_customuser_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_customuser_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_inventorybatch; Type: TABLE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE TABLE public.inventory_inventorybatch (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    batch_code character varying(50),
    expiration_date date,
    entry_date timestamp with time zone NOT NULL,
    item_id bigint NOT NULL
);


ALTER TABLE public.inventory_inventorybatch OWNER TO postgres_db_estoque_4bw4_user;

--
-- Name: inventory_inventorybatch_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE public.inventory_inventorybatch ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_inventorybatch_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_inventoryitem; Type: TABLE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE TABLE public.inventory_inventoryitem (
    id bigint NOT NULL,
    cost_price numeric(10,2) NOT NULL,
    sale_price numeric(10,2) NOT NULL,
    total_quantity integer NOT NULL,
    min_quantity integer NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    product_id bigint NOT NULL,
    store_id bigint NOT NULL
);


ALTER TABLE public.inventory_inventoryitem OWNER TO postgres_db_estoque_4bw4_user;

--
-- Name: inventory_inventoryitem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE public.inventory_inventoryitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_inventoryitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_pricehistory; Type: TABLE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE TABLE public.inventory_pricehistory (
    id bigint NOT NULL,
    price numeric(10,2) NOT NULL,
    captured_at timestamp with time zone NOT NULL,
    product_id bigint NOT NULL
);


ALTER TABLE public.inventory_pricehistory OWNER TO postgres_db_estoque_4bw4_user;

--
-- Name: inventory_pricehistory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE public.inventory_pricehistory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_pricehistory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_product; Type: TABLE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE TABLE public.inventory_product (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    bar_code character varying(50),
    natura_sku character varying(50),
    category character varying(100) NOT NULL,
    description text,
    image_url character varying(500),
    min_quantity integer NOT NULL,
    official_price numeric(10,2) NOT NULL,
    last_checked_price numeric(10,2),
    last_checked_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    CONSTRAINT inventory_product_min_quantity_check CHECK ((min_quantity >= 0))
);


ALTER TABLE public.inventory_product OWNER TO postgres_db_estoque_4bw4_user;

--
-- Name: inventory_product_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE public.inventory_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_sale; Type: TABLE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE TABLE public.inventory_sale (
    id bigint NOT NULL,
    transaction_type character varying(20) NOT NULL,
    total_amount numeric(10,2) NOT NULL,
    client_name character varying(100),
    payment_method character varying(50) NOT NULL,
    notes text,
    created_at timestamp with time zone NOT NULL,
    store_id bigint NOT NULL
);


ALTER TABLE public.inventory_sale OWNER TO postgres_db_estoque_4bw4_user;

--
-- Name: inventory_sale_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE public.inventory_sale ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_sale_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_saleitem; Type: TABLE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE TABLE public.inventory_saleitem (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    unit_price_sold numeric(10,2) NOT NULL,
    unit_cost_at_time numeric(10,2) NOT NULL,
    batch_id bigint,
    product_id bigint NOT NULL,
    sale_id bigint NOT NULL
);


ALTER TABLE public.inventory_saleitem OWNER TO postgres_db_estoque_4bw4_user;

--
-- Name: inventory_saleitem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE public.inventory_saleitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_saleitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_stocktransaction; Type: TABLE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE TABLE public.inventory_stocktransaction (
    id bigint NOT NULL,
    transaction_type character varying(20) NOT NULL,
    quantity integer NOT NULL,
    unit_cost numeric(10,2),
    unit_price numeric(10,2),
    description character varying(255) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    batch_id bigint,
    product_id bigint NOT NULL,
    store_id bigint NOT NULL
);


ALTER TABLE public.inventory_stocktransaction OWNER TO postgres_db_estoque_4bw4_user;

--
-- Name: inventory_stocktransaction_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE public.inventory_stocktransaction ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_stocktransaction_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_store; Type: TABLE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE TABLE public.inventory_store (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    slug character varying(50) NOT NULL,
    whatsapp character varying(20),
    created_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL,
    plan character varying(10) DEFAULT 'free'::character varying,
    storefront_enabled boolean DEFAULT false,
    payment_provider character varying(50),
    payment_external_id character varying(100),
    subscription_started_at timestamp with time zone,
    subscription_expires_at timestamp with time zone
);


ALTER TABLE public.inventory_store OWNER TO postgres_db_estoque_4bw4_user;

--
-- Name: inventory_store_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE public.inventory_store ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_store_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres_db_estoque_4bw4_user
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$1200000$TkEbkEJ6Jb6uxWrkDcRukf$dHe8PqX9Mlsyo+8wnI2MVpWlD/gVolHuFLtFaTOdKVw=	\N	t	admin			admin@example.com	t	t	2026-02-27 22:51:21.722699+00
2	pbkdf2_sha256$1200000$GCBtcHkFc1OQhkVgd1uWs8$6gTugJviwZ8ttdm+/DZqvR4s5GDvU1YfVxlkfO+TtMw=	\N	t	IgorGBarros			igorguimaraesbarros@gmail.com	t	t	2026-03-03 01:25:48.298826+00
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	group
3	auth	permission
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	inventory	crawlerlog
8	inventory	inventorybatch
9	inventory	inventoryitem
10	inventory	pricehistory
11	inventory	product
12	inventory	sale
13	inventory	saleitem
14	inventory	store
15	inventory	stocktransaction
16	inventory	customuser
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres_db_estoque_4bw4_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres_db_estoque_4bw4_user
--



--
-- Data for Name: inventory_crawlerlog; Type: TABLE DATA; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

COPY public.inventory_crawlerlog (id, sku, status_code, error_message, created_at, retry_count) FROM stdin;
\.


--
-- Data for Name: inventory_customuser; Type: TABLE DATA; Schema: public; Owner: postgres_db_estoque_4bw4_user
--



--
-- Data for Name: inventory_customuser_groups; Type: TABLE DATA; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

COPY public.inventory_customuser_groups (id, customuser_id, group_id) FROM stdin;
\.


--
-- Data for Name: inventory_customuser_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

COPY public.inventory_customuser_user_permissions (id, customuser_id, permission_id) FROM stdin;
\.


--
-- Data for Name: inventory_inventorybatch; Type: TABLE DATA; Schema: public; Owner: postgres_db_estoque_4bw4_user
--



--
-- Data for Name: inventory_inventoryitem; Type: TABLE DATA; Schema: public; Owner: postgres_db_estoque_4bw4_user
--



--
-- Data for Name: inventory_pricehistory; Type: TABLE DATA; Schema: public; Owner: postgres_db_estoque_4bw4_user
--



--
-- Data for Name: inventory_product; Type: TABLE DATA; Schema: public; Owner: postgres_db_estoque_4bw4_user
--



--
-- Data for Name: inventory_sale; Type: TABLE DATA; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

COPY public.inventory_sale (id, transaction_type, total_amount, client_name, payment_method, notes, created_at, store_id) FROM stdin;
\.


--
-- Data for Name: inventory_saleitem; Type: TABLE DATA; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

COPY public.inventory_saleitem (id, quantity, unit_price_sold, unit_cost_at_time, batch_id, product_id, sale_id) FROM stdin;
\.


--
-- Data for Name: inventory_stocktransaction; Type: TABLE DATA; Schema: public; Owner: postgres_db_estoque_4bw4_user
--



--
-- Data for Name: inventory_store; Type: TABLE DATA; Schema: public; Owner: postgres_db_estoque_4bw4_user
--



--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 60, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 2, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 16, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 20, true);


--
-- Name: inventory_crawlerlog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

SELECT pg_catalog.setval('public.inventory_crawlerlog_id_seq', 1, false);


--
-- Name: inventory_customuser_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

SELECT pg_catalog.setval('public.inventory_customuser_groups_id_seq', 1, false);


--
-- Name: inventory_customuser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

SELECT pg_catalog.setval('public.inventory_customuser_id_seq', 16, true);


--
-- Name: inventory_customuser_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

SELECT pg_catalog.setval('public.inventory_customuser_user_permissions_id_seq', 1, false);


--
-- Name: inventory_inventorybatch_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

SELECT pg_catalog.setval('public.inventory_inventorybatch_id_seq', 192, true);


--
-- Name: inventory_inventoryitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

SELECT pg_catalog.setval('public.inventory_inventoryitem_id_seq', 170, true);


--
-- Name: inventory_pricehistory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

SELECT pg_catalog.setval('public.inventory_pricehistory_id_seq', 454, true);


--
-- Name: inventory_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

SELECT pg_catalog.setval('public.inventory_product_id_seq', 2012, true);


--
-- Name: inventory_sale_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

SELECT pg_catalog.setval('public.inventory_sale_id_seq', 1, false);


--
-- Name: inventory_saleitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

SELECT pg_catalog.setval('public.inventory_saleitem_id_seq', 1, false);


--
-- Name: inventory_stocktransaction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

SELECT pg_catalog.setval('public.inventory_stocktransaction_id_seq', 192, true);


--
-- Name: inventory_store_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

SELECT pg_catalog.setval('public.inventory_store_id_seq', 7, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: inventory_crawlerlog inventory_crawlerlog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_crawlerlog
    ADD CONSTRAINT inventory_crawlerlog_pkey PRIMARY KEY (id);


--
-- Name: inventory_customuser inventory_customuser_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_customuser
    ADD CONSTRAINT inventory_customuser_email_key UNIQUE (email);


--
-- Name: inventory_customuser_groups inventory_customuser_gro_customuser_id_group_id_4fad35af_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_customuser_groups
    ADD CONSTRAINT inventory_customuser_gro_customuser_id_group_id_4fad35af_uniq UNIQUE (customuser_id, group_id);


--
-- Name: inventory_customuser_groups inventory_customuser_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_customuser_groups
    ADD CONSTRAINT inventory_customuser_groups_pkey PRIMARY KEY (id);


--
-- Name: inventory_customuser inventory_customuser_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_customuser
    ADD CONSTRAINT inventory_customuser_pkey PRIMARY KEY (id);


--
-- Name: inventory_customuser_user_permissions inventory_customuser_use_customuser_id_permission_86ea87e1_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_customuser_user_permissions
    ADD CONSTRAINT inventory_customuser_use_customuser_id_permission_86ea87e1_uniq UNIQUE (customuser_id, permission_id);


--
-- Name: inventory_customuser_user_permissions inventory_customuser_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_customuser_user_permissions
    ADD CONSTRAINT inventory_customuser_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: inventory_inventorybatch inventory_inventorybatch_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_inventorybatch
    ADD CONSTRAINT inventory_inventorybatch_pkey PRIMARY KEY (id);


--
-- Name: inventory_inventoryitem inventory_inventoryitem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_inventoryitem
    ADD CONSTRAINT inventory_inventoryitem_pkey PRIMARY KEY (id);


--
-- Name: inventory_inventoryitem inventory_inventoryitem_store_id_product_id_ba33e0ff_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_inventoryitem
    ADD CONSTRAINT inventory_inventoryitem_store_id_product_id_ba33e0ff_uniq UNIQUE (store_id, product_id);


--
-- Name: inventory_pricehistory inventory_pricehistory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_pricehistory
    ADD CONSTRAINT inventory_pricehistory_pkey PRIMARY KEY (id);


--
-- Name: inventory_product inventory_product_bar_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_product
    ADD CONSTRAINT inventory_product_bar_code_key UNIQUE (bar_code);


--
-- Name: inventory_product inventory_product_natura_sku_key; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_product
    ADD CONSTRAINT inventory_product_natura_sku_key UNIQUE (natura_sku);


--
-- Name: inventory_product inventory_product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_product
    ADD CONSTRAINT inventory_product_pkey PRIMARY KEY (id);


--
-- Name: inventory_sale inventory_sale_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_sale
    ADD CONSTRAINT inventory_sale_pkey PRIMARY KEY (id);


--
-- Name: inventory_saleitem inventory_saleitem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_saleitem
    ADD CONSTRAINT inventory_saleitem_pkey PRIMARY KEY (id);


--
-- Name: inventory_stocktransaction inventory_stocktransaction_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_stocktransaction
    ADD CONSTRAINT inventory_stocktransaction_pkey PRIMARY KEY (id);


--
-- Name: inventory_store inventory_store_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_store
    ADD CONSTRAINT inventory_store_pkey PRIMARY KEY (id);


--
-- Name: inventory_store inventory_store_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_store
    ADD CONSTRAINT inventory_store_slug_key UNIQUE (slug);


--
-- Name: inventory_store inventory_store_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_store
    ADD CONSTRAINT inventory_store_user_id_key UNIQUE (user_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: inventory_crawlerlog_sku_63555d21; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX inventory_crawlerlog_sku_63555d21 ON public.inventory_crawlerlog USING btree (sku);


--
-- Name: inventory_crawlerlog_sku_63555d21_like; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX inventory_crawlerlog_sku_63555d21_like ON public.inventory_crawlerlog USING btree (sku varchar_pattern_ops);


--
-- Name: inventory_customuser_email_9bcfd5dd_like; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX inventory_customuser_email_9bcfd5dd_like ON public.inventory_customuser USING btree (email varchar_pattern_ops);


--
-- Name: inventory_customuser_groups_customuser_id_20b8b4e9; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX inventory_customuser_groups_customuser_id_20b8b4e9 ON public.inventory_customuser_groups USING btree (customuser_id);


--
-- Name: inventory_customuser_groups_group_id_d10e4acb; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX inventory_customuser_groups_group_id_d10e4acb ON public.inventory_customuser_groups USING btree (group_id);


--
-- Name: inventory_customuser_user_permissions_customuser_id_5d94fb21; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX inventory_customuser_user_permissions_customuser_id_5d94fb21 ON public.inventory_customuser_user_permissions USING btree (customuser_id);


--
-- Name: inventory_customuser_user_permissions_permission_id_c9114eb2; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX inventory_customuser_user_permissions_permission_id_c9114eb2 ON public.inventory_customuser_user_permissions USING btree (permission_id);


--
-- Name: inventory_inventorybatch_item_id_41df143d; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX inventory_inventorybatch_item_id_41df143d ON public.inventory_inventorybatch USING btree (item_id);


--
-- Name: inventory_inventoryitem_product_id_78574124; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX inventory_inventoryitem_product_id_78574124 ON public.inventory_inventoryitem USING btree (product_id);


--
-- Name: inventory_inventoryitem_store_id_9243fb77; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX inventory_inventoryitem_store_id_9243fb77 ON public.inventory_inventoryitem USING btree (store_id);


--
-- Name: inventory_pricehistory_product_id_53789fff; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX inventory_pricehistory_product_id_53789fff ON public.inventory_pricehistory USING btree (product_id);


--
-- Name: inventory_product_bar_code_5579df6b_like; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX inventory_product_bar_code_5579df6b_like ON public.inventory_product USING btree (bar_code varchar_pattern_ops);


--
-- Name: inventory_product_natura_sku_fb3604bf_like; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX inventory_product_natura_sku_fb3604bf_like ON public.inventory_product USING btree (natura_sku varchar_pattern_ops);


--
-- Name: inventory_sale_store_id_60ee6f5f; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX inventory_sale_store_id_60ee6f5f ON public.inventory_sale USING btree (store_id);


--
-- Name: inventory_saleitem_batch_id_b82bea79; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX inventory_saleitem_batch_id_b82bea79 ON public.inventory_saleitem USING btree (batch_id);


--
-- Name: inventory_saleitem_product_id_cd9a834b; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX inventory_saleitem_product_id_cd9a834b ON public.inventory_saleitem USING btree (product_id);


--
-- Name: inventory_saleitem_sale_id_09bd155b; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX inventory_saleitem_sale_id_09bd155b ON public.inventory_saleitem USING btree (sale_id);


--
-- Name: inventory_stocktransaction_batch_id_f0154012; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX inventory_stocktransaction_batch_id_f0154012 ON public.inventory_stocktransaction USING btree (batch_id);


--
-- Name: inventory_stocktransaction_product_id_6432f3fb; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX inventory_stocktransaction_product_id_6432f3fb ON public.inventory_stocktransaction USING btree (product_id);


--
-- Name: inventory_stocktransaction_store_id_a0327880; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX inventory_stocktransaction_store_id_a0327880 ON public.inventory_stocktransaction USING btree (store_id);


--
-- Name: inventory_store_slug_7f929d58_like; Type: INDEX; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

CREATE INDEX inventory_store_slug_7f929d58_like ON public.inventory_store USING btree (slug varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_store fk_store_customuser; Type: FK CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_store
    ADD CONSTRAINT fk_store_customuser FOREIGN KEY (user_id) REFERENCES public.inventory_customuser(id) ON DELETE CASCADE;


--
-- Name: inventory_customuser_groups inventory_customuser_customuser_id_20b8b4e9_fk_inventory; Type: FK CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_customuser_groups
    ADD CONSTRAINT inventory_customuser_customuser_id_20b8b4e9_fk_inventory FOREIGN KEY (customuser_id) REFERENCES public.inventory_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_customuser_user_permissions inventory_customuser_customuser_id_5d94fb21_fk_inventory; Type: FK CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_customuser_user_permissions
    ADD CONSTRAINT inventory_customuser_customuser_id_5d94fb21_fk_inventory FOREIGN KEY (customuser_id) REFERENCES public.inventory_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_customuser_groups inventory_customuser_groups_group_id_d10e4acb_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_customuser_groups
    ADD CONSTRAINT inventory_customuser_groups_group_id_d10e4acb_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_customuser_user_permissions inventory_customuser_permission_id_c9114eb2_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_customuser_user_permissions
    ADD CONSTRAINT inventory_customuser_permission_id_c9114eb2_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_inventorybatch inventory_inventoryb_item_id_41df143d_fk_inventory; Type: FK CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_inventorybatch
    ADD CONSTRAINT inventory_inventoryb_item_id_41df143d_fk_inventory FOREIGN KEY (item_id) REFERENCES public.inventory_inventoryitem(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_inventoryitem inventory_inventoryi_product_id_78574124_fk_inventory; Type: FK CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_inventoryitem
    ADD CONSTRAINT inventory_inventoryi_product_id_78574124_fk_inventory FOREIGN KEY (product_id) REFERENCES public.inventory_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_inventoryitem inventory_inventoryitem_store_id_9243fb77_fk_inventory_store_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_inventoryitem
    ADD CONSTRAINT inventory_inventoryitem_store_id_9243fb77_fk_inventory_store_id FOREIGN KEY (store_id) REFERENCES public.inventory_store(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_pricehistory inventory_pricehisto_product_id_53789fff_fk_inventory; Type: FK CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_pricehistory
    ADD CONSTRAINT inventory_pricehisto_product_id_53789fff_fk_inventory FOREIGN KEY (product_id) REFERENCES public.inventory_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_sale inventory_sale_store_id_60ee6f5f_fk_inventory_store_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_sale
    ADD CONSTRAINT inventory_sale_store_id_60ee6f5f_fk_inventory_store_id FOREIGN KEY (store_id) REFERENCES public.inventory_store(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_saleitem inventory_saleitem_batch_id_b82bea79_fk_inventory; Type: FK CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_saleitem
    ADD CONSTRAINT inventory_saleitem_batch_id_b82bea79_fk_inventory FOREIGN KEY (batch_id) REFERENCES public.inventory_inventorybatch(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_saleitem inventory_saleitem_product_id_cd9a834b_fk_inventory_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_saleitem
    ADD CONSTRAINT inventory_saleitem_product_id_cd9a834b_fk_inventory_product_id FOREIGN KEY (product_id) REFERENCES public.inventory_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_saleitem inventory_saleitem_sale_id_09bd155b_fk_inventory_sale_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_saleitem
    ADD CONSTRAINT inventory_saleitem_sale_id_09bd155b_fk_inventory_sale_id FOREIGN KEY (sale_id) REFERENCES public.inventory_sale(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_stocktransaction inventory_stocktrans_batch_id_f0154012_fk_inventory; Type: FK CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_stocktransaction
    ADD CONSTRAINT inventory_stocktrans_batch_id_f0154012_fk_inventory FOREIGN KEY (batch_id) REFERENCES public.inventory_inventorybatch(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_stocktransaction inventory_stocktrans_product_id_6432f3fb_fk_inventory; Type: FK CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_stocktransaction
    ADD CONSTRAINT inventory_stocktrans_product_id_6432f3fb_fk_inventory FOREIGN KEY (product_id) REFERENCES public.inventory_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_stocktransaction inventory_stocktrans_store_id_a0327880_fk_inventory; Type: FK CONSTRAINT; Schema: public; Owner: postgres_db_estoque_4bw4_user
--

ALTER TABLE ONLY public.inventory_stocktransaction
    ADD CONSTRAINT inventory_stocktrans_store_id_a0327880_fk_inventory FOREIGN KEY (store_id) REFERENCES public.inventory_store(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres_db_estoque_4bw4_user
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;
GRANT ALL ON SCHEMA public TO postgres;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON SEQUENCES TO postgres_db_estoque_4bw4_user;


--
-- Name: DEFAULT PRIVILEGES FOR TYPES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TYPES TO postgres_db_estoque_4bw4_user;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON FUNCTIONS TO postgres_db_estoque_4bw4_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TABLES TO postgres_db_estoque_4bw4_user;


--
-- PostgreSQL database dump complete
--

\unrestrict TZeppzmdMthFc2MX7ekVykwa3G5FzOBwNewIhffTjxnyXxbjkYnn0n4hfnUw74y

